body {
  --white: 210, 10%, 88%;
  --grey-1: 208, 7%, 46%;
  --grey-2: 210, 9%, 31%;
  --grey-3: 210, 10%, 23%;
  --grey-4: 210, 11%, 15%;
  --black: 240, 100%, 2%;

  --primary: 251, 49%, 44%;
  --secondary: 260, 100%, 67%;
  --tertiary: 284, 100%, 74%;

  --background: var(--grey-3);
  --success: 86, 100%, 68%;
  --error: 359, 100%, 70%;
}
